.box
{
	height: 250px;
	width: 200px;
	margin: 4px;
	background: rgba(200, 11, 0, 0.5);
	transition: all 1s;
	border-radius: 3px;
	
}

img
{
	height: 200px;
	width: 200px;
	
}
.box:hover
{
	transform: scale(1.05);
}
.name,.ema
{
	color: black;
	text-align: center;

}
.name
{
	font-weight: bold;
}